<!-- using Partial ,  -->
<!-- https://ejs.co/#install -->
<!-- to add this header in the home.ejs or user.ejs we will write this in the home.ejs file-->
 
<header>
    Page Header !

    <!-- adding the items of authentication items -->
    <ul style="list-style: none;">
        <% if (locals.user){ %>
            <li>
                <a href="/user/profile"><%= user.name %></li></a>
            <li>
                <a href="/user/sign-out">Sign Out</a>
            </li>

        <% }else{ %>
            <li>
                <a href="/user/sign-in">Sign In</a>
            </li>
            <li>
                <a href="/user/sign-up">Sign Up</a>
            </li>
        <% } %>
    </ul>
</header>