<!-- using Partial ,  -->
<!-- https://ejs.co/#install -->
<!-- to add this header in the home.ejs or user.ejs we will write this in the home.ejs file-->
 
<header>
    <div id="container">
        <div><h2>codeial</h2></div>
    

        <div id="list-container">
            <!-- adding the items of authentication items -->
            <ul style="list-style: none;">
                <% if (locals.user){ %>
                    <div>
                    <li>
                        <a href="/user/profile/<%= user.id %>"><%= user.name %></a>
                    </li>
                    </div>

                    <div>
                    <li>
                        <a href="/user/sign-out">Sign Out</a>
                    </li>
                </div>

                <% }else{ %>
                    <div>
                    <li>
                        <a href="/user/sign-in">Sign In</a>
                    </li>
                </div>

                <div>
                    <li>
                        <a href="/user/sign-up">Sign Up</a>
                    </li>
                </div>
                <% } %>
            </ul>
        </div>
    </div>
</header>