<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    
    <body>
        <!-- udsing partial -->
        <%- include('_header'); %>

        <h1>Codeial / <%= title %> </h1>

        <%- include('_footer'); %>
    </body>

    
</html>